*.mdb filter=lfs diff=lfs merge=lfs -text
flav_dr1tot_0710.sas7bdat filter=lfs diff=lfs merge=lfs -text
flav_dr2tot_0710.sas7bdat filter=lfs diff=lfs merge=lfs -text
DR1IFF_E.XPT filter=lfs diff=lfs merge=lfs -text
DR1IFF_H.XPT filter=lfs diff=lfs merge=lfs -text
DR2IFF_E.XPT filter=lfs diff=lfs merge=lfs -text
DR2IFF_I.XPT filter=lfs diff=lfs merge=lfs -text
DR2TOT_E.XPT filter=lfs diff=lfs merge=lfs -text
FNDDS4.mdb filter=lfs diff=lfs merge=lfs -text
DEMO_E.XPT filter=lfs diff=lfs merge=lfs -text
DR1TOT_E.XPT filter=lfs diff=lfs merge=lfs -text
fped_dr1tot_0708.sas7bdat filter=lfs diff=lfs merge=lfs -text
fped_dr2tot_0708.sas7bdat filter=lfs diff=lfs merge=lfs -text
